body{
    background-color:white;
    margin:0; 
}


header{
    overflow: hidden;
    height: 90px;
    width: 100%;
    background-color: rgb(0, 109, 243);
    
}

nav{
    left: 0; 
    top: 0; 
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

h1{
    font-family: aktiv-grotesk-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    color:rgb(255, 255, 255); 
    font-size:35px;
    padding-right: 90px;
    margin-top: 25px;
}

.star{
 height:30px;
 width: 30px; 

}

h1:hover .star{
    transform: rotate(360deg);
    transition: 2s;
}

.one{
    padding-left: 30px;
}


li {
    display: inline;
    float: left;
    padding: 30px; 
    padding-right: 8px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 15px;
    max-width: 100%;

  }


  @media (max-width: 1129px){
        li {
            font-size: 9px; padding :0px; padding-top: 7px;float: none;
            display: block;
            text-align: left; margin-left: 0px; 
        } 
       .banner-area{padding-top: 200px;}
       header{height: 300px;}
       .star{ height:10px;width: 10px; }
       p{font-size: 14px; }
       h1{font-size: 12px; float: none;
        display: block; padding-bottom: 10px;} 
        .one,li {padding-left: 10px;}
        h1{margin: 10px; padding:10px;}
        .htitle{font-size: 50px;margin: 80px;}
    
    }

    @media (max-width: 1129px){
        section.intro{font-size: 11px; line-height: 13px;}
        .subhead{font-size: 25px; line-height: 26px;}
        img.rocket{max-width: 40px;margin-right:20px }
        .pagetitle{font-size: 50px;margin: 50px;}
    }

   
    a {
        display: block;
        padding: 10px; 
        text-decoration: none;
        color: white;
      }
    
        a:hover {
            background-color: #0b1b64;
            border-radius: 8px;
        }

    .intro{
        
            font-size: 16px; 
            font-family: aktiv-grotesk,sans-serif;
            font-weight: 400;
            font-style: normal;
            color:black;
            max-width: 800px;
            line-height: 23px;
            word-spacing: 1px;
            margin-top: 10px;
            margin-left: auto; margin-right: auto;
            text-align: left;
            margin-bottom: 10px;
            padding-left:40px;
            padding-right:40px;
    }

   
    hr{
        margin-left:auto;
        margin-right:auto;
        max-width: 800px;
        width: 100%;
        height:2px;
        border-width:0;
        color:gray;
        background-color:gray

    }
    
    h2{
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: black;
        margin-left: auto; margin-right: auto;
        max-width: 800px;
        text-align: center;
        font-size: 60px;
        margin-top:100px;
        
    }


    h3{
      
        font-family: aktiv-grotesk-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size:35px;
        margin-left: auto; margin-right: auto;
        max-width: 800px;
        margin-bottom: 0px;

    }

    h1:hover{ 
        color: #0b1b64;
    }

    .section{
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
        max-width: 800px;
        line-height: 24px;
        word-spacing: 1px;
        margin-left: auto; margin-right: auto;
        margin-top: 40px;
        margin-bottom: 80px;
        padding:40px;
    }

    .para{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .rocket{
        max-width: 60px;
        max-height: 60px;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 30px;
        width: 100%;
        height: auto;

        padding-bottom: 20px;
        
    }


    .footer{
        color:black;
        font-family: aktiv-grotesk-condensed,sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 12px;
        padding: 30px; 


    }

 .spacestation{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            width: 100%;
            height: auto;
           
        
    }

    .bold{
        font-weight: 900;
        font-style: normal;
    }
  

 section{
     margin-top: 100px;
 }




