body{
    background-color:white;
    margin:0; 
}


header{
    overflow: hidden;
    height: 90px;
    width: 100%;
    background-color: rgb(0, 109, 243);
    
}

nav{
    left: 0; 
    top: 0; 
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

h1{
    font-family: aktiv-grotesk-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    color:rgb(255, 255, 255); 
    font-size:35px;
    padding-right: 90px;
    margin-top: 25px;
}


.stars{
 height:30px;
 width: 30px; 

}

h1:hover .stars{
    transform: rotate(360deg);
    transition: 2s;
}

.one{
    padding-left: 30px;
}


li {
    display: inline;
    float: left;
    padding: 30px; 
    padding-right: 8px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 15px;
    max-width: 100%;

  }


  @media (max-width: 1129px){
        li {
            font-size: 9px; padding :0px; padding-top: 7px;float: none;
            display: block;
            text-align: left; margin-left: 0px; 
        } 
       .banner-area{padding-top: 200px;}
       header{height: 300px;}
       .stars{ height:10px;width: 10px; }
       p{font-size: 14px; }
       h1{font-size: 12px; float: none;
        display: block; padding-bottom: 10px;} 
        .one,li {padding-left: 10px;}
        h1{margin: 10px; padding:10px;}
        div.container{ padding-left: 20px;}
    
    }
   
    a {
        display: block;
        padding: 10px; 
        text-decoration: none;
        color: white;
      }
    
        a:hover {
            background-color: #0b1b64;
            border-radius: 8px;
        }

        h1:hover{ 
            color: #0b1b64;
        }


        .footer{
            color:black;
            font-family: aktiv-grotesk-condensed,sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 12px;
            padding: 30px; 
    
    
        }
    


    h2{
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: black;
        margin-left: auto; margin-right: auto;
        max-width: 800px;
        text-align: center;
        font-size: 60px;
    }

 
 .container{
        max-width:1600px;
        margin-left: auto; 
        margin-right: auto;
        overflow: auto; 
        width:100%;
        vertical-align: auto;
        padding-left: 80px;
    }

  .star{
      padding:10px;
  }

    .gallery{
        margin:5px; 
        float:left;
        width: 300px; 

    } 

     .gallery img{
        width: 100%;
        height:auto;
    } 

   
   




