body{
    background-color: #181818;
    margin:0; 
}


header{
    overflow: hidden;
    height: 90px;
    width: 100%;
    background-color: rgb(0, 109, 243);
    
}

nav{
    left: 0; 
    top: 0; 
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

h1{
    font-family: aktiv-grotesk-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    color:rgb(255, 255, 255); 
    font-size:35px;
    padding-right: 90px;
    margin-top: 25px;
}

.star{
 height:30px;
 width: 30px; 

}

h1:hover .star{
    transform: rotate(360deg);
    transition: 2s;
}

.one{
    padding-left: 30px;
}


li {
    display: inline;
    float: left;
    padding: 30px; 
    padding-right: 8px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 15px;
    max-width: 100%;

  }

  
  @media (max-width: 1129px){
        li {
            font-size: 9px; padding :0px; padding-top: 7px;float: none;
            display: block;
            text-align: left; margin-left: 0px; 
        } 
       .banner-area{padding-top: 200px;}
       header{height: 300px;}
       .star{ height:10px;width: 10px; }
       p{font-size: 14px; }
       h1{font-size: 12px; float: none;
        display: block; padding-bottom: 10px;} 
        .one,li {padding-left: 10px;}
        h1{margin: 10px; padding:10px;}
        p.intro{font-size: 14px;line-height: 18px;  }
    
    }

   
  a {
    display: block;
    padding: 10px; 
    text-decoration: none;
    color: white;
  }

    a:hover {
        background-color: #0b1b64;
        border-radius: 8px;
    }

    h1:hover{ 
        color: #0b1b64;
    }

    h2{
        font-family: aktiv-grotesk-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        color:white;
        padding-left:0%; 
        padding-top: 5px;
        padding-bottom: 20px;
        font-size:35px;
        line-height: 38px;
        text-align: left;
        display:flex;
    }

    .intro{
        font-size: 18px; 
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
        color:rgb(184, 184, 184);
        max-width: 600px;
        line-height: 25px;
        word-spacing: 1px;
        margin-top: 70px;
        margin-left: auto; margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;

    }

    .rocket{
        width: 60px;
        height:63px;
        margin-left: 300px; 
        margin-top: 20px;
        padding-bottom: 80px;
        position: relative;
        z-index: 999999;
    
    }

    .intro:hover .rocket{
            margin-left: 420px;
            transition: 1.5s;
            transform: rotate(7deg) translate(50px, -500px) scale(3);
    }



    .home{
        font-size: 18px; 
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
        color:rgb(167, 167, 167);
        max-width: 800px;
        padding: 40px;
        line-height: 27px;
        word-spacing: 1px;
        margin-left: auto; margin-right: auto;
       margin-top: 5px;
    }

    p{
        padding-top: 15px;
    }

    .pic{
        max-width: 1500px;
       
        margin-left: auto; margin-right: auto;
        margin-top: 20px;

    }

    .nasa1{
        max-width:240px;
        max-height: 200px;
        width: 100%;
        height:auto;
    }

    .nasa2{
        max-width:200px;
        max-height: 200px;
        width: 100%;
        height:auto;
    }

    .nasa3{
        max-width: 350px;
       max-height: 100px;
        padding-top: 20px; 
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height:auto;
    }

    .grid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #181818;
    }

    .grid li{
        display: block;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px;
        padding-bottom: 100px;
    }
    

    .astronaut{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        width: 80%;
        height: auto;
    }

    .astronaut2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        width: 80%;
        height: auto;
        margin-top: 10px; 
    }




    .footer{
        color: white;
        font-family: aktiv-grotesk-condensed,sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 12px;
        padding: 30px; 


    }

    .banner-area{
        height: 60vh; 
        opacity: 70%;
        background-image:url(https://cdn.nextgov.com/media/img/upload/2017/04/19/041917galaxyNG/route-fifty-lead-image.jpg);
        background-size:cover; 
        background-position: center;
    }
    



.space{
        max-width: 80px;
        max-height: 80px;
        width:100%;
        float: left;
        margin-left: 0;
        margin-right: 30px;
        width: 100%;
        height:auto;
}
  

 .astronaut3{
        max-width: 80px;
        max-height: 80px;
        width:100%;
        float: left;
        height:auto;
        padding-right: 250px;
        margin-bottom: 0px;
        margin-top: 0px; 
} 

hr{
    max-width: 800px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray

}

.image-container {
    display: flex;
    justify-content: center;
  }






