body{
    background-color: #ffffff;
}


header{
    height: 150px;
}

nav{
    width: 100%;
  
}

h1{
    font-family: aktiv-grotesk-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    color:white; 
    font-size:35px;
    padding-right: 90px;
}

.star{
 height:30px;
 width: 30px; 

}

h1:hover .star{
    transform: rotate(360deg);
    transition: 2s;
}



ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333333;
    margin:0px; 
    max-width: 100% ;
    z-index: 9999999;

}

li {
    display: inline;
    float: left;
    padding: 30px; 
    padding-right: 8px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 15px;
    max-width: 100%;
  }


  .one{
      padding-left: 0px;
  }

  @media (max-width: 1129px){
    li {font-size: 12px; padding :0px; padding-top: 10px;float: none;
        display: block;
        text-align: left; margin-left: 0px;} 
    }

    @media (max-width: 1129px){
        h1{font-size: 20px; float: none;
            display: block; } 
    }
/* 
    @media (max-width: 1300px){
        .planet11{width: 40px;height:40px;} 
    } */
   
   
  a {
        display: block;
        padding: 10px; 
        text-decoration: none;
        color: rgb(219, 219, 219);
    }

    a:hover {
        background-color: #272727;
        color: white;

    }

    .intro{
        margin-top: 70px;
        margin-bottom: 80px;
    }

    hr{
        width: 800px;
        margin-left:auto;
        margin-right:auto;
        height:2px;
        border-width:0;
        color:gray;
        background-color:gray
    }


    .ha{
        color:white;
        font-size: 10px;
    }

    h2{
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 700;
        font-style: normal;
        color: black;
        margin-left: auto; margin-right: auto;
        max-width: 800px;
        text-align: center;
        font-size: 60px;
    }


    h3{
      
        font-family: aktiv-grotesk-condensed,sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size:35px;
        margin-left: auto; margin-right: auto;
        max-width: 800px;
        margin-bottom: 0px;

    }

    p{
        font-family: aktiv-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
        max-width: 800px;
        line-height: 24px;
        word-spacing: 1px;
        margin-left: auto; margin-right: auto;
        margin-top: 40px;
        margin-bottom: 180px;
    }

    .para{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .rocket{
        max-width: 80px;
        max-height: 80px;
        width:100%;
        float: left;
        margin-left: 12%;
        
    }


    .footer{
        color: rgb(0, 0, 0);
        font-family: aktiv-grotesk-condensed,sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 30px; 

    }


    .spacestation{

            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            width: 80%;
            height: auto;
            
    
    }

    .bold{
        font-weight: 900;
        font-style: normal;
    }
  

 section{
     margin-top: 100px;
 }




